@font-face {
   font-family: 'fontName';
   font-weight: '400';
   src:
      url(../) format('woff2'),
      url(../) format('woff'),
      url(../) format('truetype'),
      url(../) format('OpenType');
 }