@import "reset.scss";
@import "fonts.scss";


$max-width-content: 1440px;
$container-padding: 20px;
$container-width: 1220px;
$min-container-width: 320px;

$max-width-laptop: 981px;
$max-width-tablet: 769px;
$max-width-mobile: 426px;

$ppi-min-resolution: 1.5dppx;


._container {
   @media (min-width: calc($container-width + $container-padding * 2)) {
      padding: 0 calc(((100vw - $container-width) / 2));
   }

   padding: 0 $container-padding;
   min-width: $min-container-width;
}
._visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}


* {
   font-family: Arial, sans-serif;
}
body {
   display: flex;
   flex-direction: column;

   .main {
      flex: 1 1 auto;
   }
   &.lock {
      overflow: hidden;
   }
}
img, svg {
   max-width: 100%;
   max-height: 100%;
}


@import "ui.scss";